<% @drinks.all.each do |d|%>
    <div class="info">
        <h3><a class='drank' href='/drinks/<%=d.id%>'><%=d.name%></a></h3>
        <br>
        <div class="drink_info">
        <p>Name: <%=d.name%></p>
        <p>Size: <%=d.size%></p>
        <p>Flavor: <%=d.flavor%></p>
        <p>Milk: <%=d.milk%></p>
        <p>Toppings: <%=d.toppings%></p>
        <p>Details: <%=d.details%></p>
    </div>
<%end%>