<div class="info">
<h3 class="drink_info"><%=@drink.name%></h3>
<br>
<br>
<div class="info">
<p>Name: <%=@drink.name%></p>
<p>Size: <%=@drink.size%></p>
<p>Flavor: <%=@drink.flavor%></p>
<p>Milk: <%=@drink.milk%></p>
<p>Toppings: <%=@drink.toppings%></p>
<p>Details: <%=@drink.details%></p>
</div>
</div>