

<div class='drink_show'>

<br>
<div class='drink_info'>
<p>Name: <%= @drink.name%></p>
<p>Size: <%=@drink.size%></p>
<p>Flavor: <%=@drink.flavor%></p>
<p>Milk: <%=@drink.milk%></p>
<p>Toppings: <%=@drink.toppings%></p>
</div>
<a id="showedit" href="/drinks/<%=@drink.id%>/edit">Edit</a>
<form method="post" action="/drinks/<%=@drink.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
